<body>

    <div class="row">
        <div class="col s12 pull-s2">
            <div class="container" style="object-fit: contain">
                <img src="../../../assets/resources/lizzo-grammys-performance-1580087283.jpg" alt="Performance" style="width: 2000px; height: 370px; max-width: 146.8%; max-height: 200%; object-fit: cover; object-position: 50% 15.5%;">
                <div class="bottom-left" style="font-size: 100px">Premios</div>
            </div>
        </div>
    </div>
    
    <br><br><br><br><br><br><br>

    <div class="row">

        <div class="col s12">

            <div class="col 9 pull-s1">
                <img src="../../../assets/resources/award 1.jpeg" alt="Grammy" style="width: 570px; height: 573px; max-width: 100%; max-height: 250%; object-fit: cover; object-position: 42% 15.5%;">
                <br>
                <img src="../../../assets/resources/award 2.jpg" alt="Grammy" style="width: 570px; height: 573px; max-width: 100%; max-height: 250%; object-fit: cover; object-position: 42% 15.5%;">
                <br>
                <img src="../../../assets/resources/award 4.jpg" alt="Grammy" style="width: 570px; height: 573px; max-width: 100%; max-height: 250%; object-fit: cover; object-position: 42% 15.5%;">
                <br>
                <img src="../../../assets/resources/awards 3.jpg" alt="Grammy" style="width: 570px; height: 573px; max-width: 100%; max-height: 250%; object-fit: cover; object-position: 42% 15.5%;">
                <br>
            </div>

            <div class="col s4">

                <div class="row">

                    <div class="col s4 push-s3">

                        <br><br><br><br>

                        <p style="font-size: 20px;"><b>2019</b></p>
                    </div>

                    <div class="col s4 push-s1">
                        <img src="../../../assets/resources/soul train.png" alt="Soul Train" style="width: 100px; height: 100;">
                    </div>

                    <div class="col s4 push-s2">
                        
                        <br><br><br>

                        <p style="font-size: 10px;"><b>Video del año</b></p>

                        <br><br><br>

                        <p style="font-size: 10px;">con <i>Juice</i></p>
                        
                        <br><br><br>

                        <p style="font-size: 10px;">Soul Train Music Awards</p>
                    </div>

                </div>
                
                <br><br><br><br><br>

                <div class="row">

                    <div class="col s4 push-s3">

                        <br><br><br><br>

                        <p style="font-size: 20px;"><b>2019</b></p>
                    </div>
                    
                    <div class="col s4 push-s1">
                        <img src="../../../assets/resources/soul train.png" alt="Soul Train" style="width: 100px; height: 137;">
                    </div>

                    <div class="col s4 push-s2">
                        
                        <br><br><br>

                        <p style="font-size: 10px;"><b>Álbum del año</b></p>
                        
                        <br><br><br>

                        <p style="font-size: 10px;">con <i>Cuz I Love You</i></p>
                        
                        <br><br><br>

                        <p style="font-size: 10px;">Soul Train Music Awards</p>
                    </div>

                </div>

                <br><br><br><br>

                <div class="row">

                    <div class="col s4 push-s3">
                        
                        <br><br><br><br>
                        
                        <p style="font-size: 20px;"><b>2020</b></p>
                    </div>
                    
                    <div class="col s4 push-s1">
                        
                        <br><br>
                        
                        <img src="../../../assets/resources/bet awards.png" alt="BET" style="width: 120px; height: 50;">
                    </div>

                    <div class="col s4 push-s2">
                        
                        <br><br><br>

                        <p style="font-size: 10px;"><b>Mejor Artista Femenina de R&B/Pop</b></p>
                        
                        <br><br><br>

                        <p style="font-size: 10px;">Lizzo</p>
                        
                        <br><br><br>

                        <p style="font-size: 10px;">BET Awards</p>
                    </div>

                </div>

                <br><br><br><br><br>

                <div class="row">

                    <div class="col s4 push-s3">
                        
                        <br><br><br><br>
                        
                        <p style="font-size: 20px;"><b>2020</b></p>
                    </div>
                    
                    <div class="col s4 push-s1">

                        <br>

                        <img src="../../../assets/resources/Billboard Music Awards.png" alt="Billboard" style="width: 130px; height: 86;">
                    </div>

                    <div class="col s4 push-s2">
                        
                        <br><br><br>
                        
                        <p style="font-size: 10px;"><b>Artista con Canciones Más Vendidas</b></p>
                        
                        <br><br><br>

                        <p style="font-size: 10px;">Lizzo</p>

                        <br><br><br>

                        <p style="font-size: 10px;">Billboard Music Awards</p>
                    </div>

                </div>

                <br><br><br><br>

                <div class="row">

                    <div class="col s4 push-s3">
                        
                        <br><br><br><br>
                        
                        <p style="font-size: 20px;"><b>2020</b></p>
                    </div>
                    
                    <div class="col s4 push-s1">

                        <br><br>

                        <img src="../../../assets/resources/grammy awards.png" alt="Grammy Award" style="width: 120px; height: 137;">
                    </div>

                    <div class="col s4 push-s2">
                        
                        <br><br><br>

                        <p style="font-size: 10px;"><b>Mejor Interpretación Vocal Pop Solista</b></p>
                        
                        <br><br><br>

                        <p style="font-size: 10px;">con <i>Truth Hurts</i></p>
                        
                        <br><br><br>

                        <p style="font-size: 10px;">Grammy Awards</p>
                    </div>

                </div>

                <br><br><br><br>

                <div class="row">

                    <div class="col s4 push-s3">

                        <br><br><br><br>

                        <p style="font-size: 20px;"><b>2020</b></p>
                    </div>
                    
                    <div class="col s4 push-s1">

                        <br><br>

                        <img src="../../../assets/resources/grammy awards.png" alt="Grammy Award" style="width: 120px; height: 137;">
                    </div>

                    <div class="col s4 push-s2">
                        
                        <br><br><br>

                        <p style="font-size: 10px;"><b>Mejor Álbum Urbano Contemporáneo</b></p>
                        
                        <br><br><br>

                        <p style="font-size: 10px;">con <i>Cuz I Love You</i></p>
                        
                        <br><br><br>

                        <p style="font-size: 10px;">Grammy Awards</p>
                    </div>

                </div>

                <br><br><br><br>

                <div class="row">

                    <div class="col s4 push-s3">
                        
                        <br><br><br><br>

                        <p style="font-size: 20px;"><b>2020</b></p>
                    </div>
                    
                    <div class="col s4 push-s1">
                        
                        <br><br>

                        <img src="../../../assets/resources/grammy awards.png" alt="Grammy Award" style="width: 120px; height: 137;">
                    </div>

                    <div class="col s4 push-s2">
                        
                        <br><br><br>

                        <p style="font-size: 10px;"><b>Mejor Interpretación Vocal de R&B Tradicional</b></p>
                        
                        <br><br><br>

                        <p style="font-size: 10px;">con <i>Jerome</i></p>
                        
                        <br><br><br>

                        <p style="font-size: 10px;">Grammy Awards</p>
                    </div>

                </div>

                <br><br><br><br>

                <div class="row">

                    <div class="col s4 push-s3">
                        
                        <br><br><br><br>

                        <p style="font-size: 20px;"><b>2020</b></p>
                    </div>
                    
                    <div class="col s4 push-s1">
                        
                        <br>

                        <img src="../../../assets/resources/iheart.png" alt="iHeart" style="width: 120px; height: 137;">
                    </div>

                    <div class="col s4 push-s2">
                        
                        <br><br><br>

                        <p style="font-size: 10px;"><b>Mejor Artista Nuevo Pop</b></p>
                        
                        <br><br><br>

                        <p style="font-size: 10px;">Lizzo</p>
                        
                        <br><br><br>

                        <p style="font-size: 10px;">iHeartRadio Music Awards</p>
                    </div>

                </div>

                <br><br><br><br>

                <div class="row">

                    <div class="col s4 push-s3">
                        
                        <br><br><br><br>

                        <p style="font-size: 20px;"><b>2020</b></p>
                    </div>
                    
                    <div class="col s4 push-s1">
                        
                        <br>

                        <img src="../../../assets/resources/iheart.png" alt="iHeart" style="width: 120px; height: 137;">
                    </div>

                    <div class="col s4 push-s2">
                        
                        <br><br><br>

                        <p style="font-size: 10px;"><b>Canción del Año</b></p>
                        
                        <br><br><br>

                        <p style="font-size: 10px;">con <i>Truth Hurts</i></p>
                        
                        <br><br><br>

                        <p style="font-size: 10px;">iHeartRadio Music Awards</p>
                    </div>

                </div>

                <br><br><br><br>

                <div class="row">

                    <div class="col s4 push-s3">
                        
                        <br><br><br><br>

                        <p style="font-size: 20px;"><b>2020</b></p>
                    </div>
                    
                    <div class="col s4 push-s1">
                        
                        <br><br>

                        <img src="../../../assets/resources/naacp.png" alt="NAACP" style="width: 130px; height: 137;">
                    </div>

                    <div class="col s4 push-s2">
                        
                        <br><br><br>

                        <p style="font-size: 10px;"><b>Artista del Año</b></p>
                        
                        <br><br><br>

                        <p style="font-size: 10px;">Lizzo</p>
                        
                        <br><br><br>

                        <p style="font-size: 10px;">NAACP Image Awards</p>
                    </div>

                </div>

                <br><br><br><br>

                <div class="row">

                    <div class="col s4 push-s3">
                        
                        <br><br><br><br>

                        <p style="font-size: 20px;"><b>2020</b></p>
                    </div>
                    
                    <div class="col s4 push-s1">
                        
                        <br><br>

                        <img src="../../../assets/resources/naacp.png" alt="NAACP" style="width: 130px; height: 137;">
                    </div>

                    <div class="col s4 push-s2">
                        
                        <br><br><br>

                        <p style="font-size: 10px;"><b>Mejor Videoclip</b></p>
                        
                        <br><br><br>

                        <p style="font-size: 10px;">con <i>Juice</i></p>
                        
                        <br><br><br>

                        <p style="font-size: 10px;">NAACP Image Awards</p>
                    </div>

                </div>

                <br><br><br><br>

                <div class="row">

                    <div class="col s4 push-s3">
                        
                        <br><br><br><br>

                        <p style="font-size: 20px;"><b>2022</b></p>
                    </div>
                    
                    <div class="col s4 push-s1">
                        
                        <br><br>

                        <img src="../../../assets/resources/mtv music awards.png" alt="MTV" style="width: 130px; height: 137;">
                    </div>

                    <div class="col s4 push-s2">
                        
                        <br><br><br>

                        <p style="font-size: 10px;"><b>Video por un Bien</b></p>
                        
                        <br><br><br>

                        <p style="font-size: 10px;">con <i>About Damn Time</i></p>
                        
                        <br><br><br>

                        <p style="font-size: 10px;">MTV Video Music Awards</p>
                    </div>

                </div>

                <br><br><br><br><br><br><br><br><br><br><br><br>

            </div>

        </div>

    </div>

</body>