<!-- BG IMG -->
 
<body style="background-image: url('../../../assets/resources/background.jpg');"> <!-- cierra body al mero final obv -->
 
    <!-- BANNER -->
     
        <div class="col s12" style="padding-bottom:5%;">
            <img src="../../../assets/resources/merch_banner.gif" class="fit">
        </div>
     
    <!-- PRODUCTS -->
     
    <div class="row" style="padding-bottom:2%;"> <!-- ROW 1 -->
        <div class="col s2"></div>
        <div class="col s2 center">
            <a href="https://store.lizzomusic.com/products/special-explicit-digital-album" target="_blank"><img src="../../../assets/resources/merch_1.png" class="products">
            <p>Special Digital Album<br><b>$9.99 USD</b></p></a>
        </div>
        <div class="col s2 center">
            <a href="https://store.lizzomusic.com/products/explicit-cd" target="_blank"><img src="../../../assets/resources/merch_2.png" class="products">
            <p>Special CD<br><b>$10.00 USD</b></p></a>
        </div>
        <div class="col s2 center">
            <a href="https://store.lizzomusic.com/products/retail-standard-vinyl" target="_blank"><img src="../../../assets/resources/merch_3.png" class="products">
            <p>Special Vinyl<br><b>$24.98 USD</b></p></a>
        </div>
        <div class="col s2 center">
            <a href="https://store.lizzomusic.com/products/d2c-exclusive" target="_blank"><img src="../../../assets/resources/merch_4.png" class="products">
            <p>Special Silver Vinyl<br><b>$24.98 USD</b></p></a>
        </div>
    </div>
     
    <div class="row" style="padding-bottom:2%;"> <!-- ROW 2 -->
        <div class="col s2"></div>
        <div class="col s2 center">
            <a href="https://store.lizzomusic.com/products/special-crystal-vinyl" target="_blank"><img src="../../../assets/resources/merch_5.png" class="products">
            <p>Special Crystal Vinyl<br><b>$24.98 USD</b></p></a>
        </div>
        <div class="col s2 center">
            <a href="https://store.lizzomusic.com/products/special-pink-cassette" target="_blank"><img src="../../../assets/resources/merch_6.png" class="products">
            <p>Special Pink Cassette<br><b>$14.98 USD</b></p></a>
        </div>
        <div class="col s2 center">
            <a href="https://store.lizzomusic.com/products/special-silver-cassette" target="_blank"><img src="../../../assets/resources/merch_7.png" class="products">
            <p>Special Silver Cassette<br><b>$21.00 USD</b></p></a>
        </div>
        <div class="col s2 center">
            <a href="https://store.lizzomusic.com/products/birthday-girl-flask" target="_blank"><img src="../../../assets/resources/merch_8.png" class="products">
            <p>Birthday Girl Flask<br><b>$40.00 USD</b></p></a>
        </div>
    </div>
     
    <div class="row" style="padding-bottom:2%;"> <!-- ROW 3 -->
        <div class="col s2"></div>
        <div class="col s2 center">
            <a href="https://store.lizzomusic.com/products/special-long-sleeve" target="_blank"><img src="../../../assets/resources/merch_9.png" class="products">
            <p>Lizzo Special Smiley Long Sleeve<br><b>$45.00 USD</b></p></a>
        </div>
        <div class="col s2 center">
            <a href="https://store.lizzomusic.com/products/special-tie-dye-t-shirt" target="_blank"><img src="../../../assets/resources/merch_10.png" class="products">
            <p>U R Special Tie Dye T-Shirt<br><b>$50.00 USD</b></p></a>
        </div>
        <div class="col s2 center">
            <a href="https://store.lizzomusic.com/products/special-tank-top" target="_blank"><img src="../../../assets/resources/merch_11.png" class="products">
            <p>I Love You Airbrush Summer Tank<br><b>$40.00 USD</b></p></a>
        </div>
        <div class="col s2 center">
            <a href="https://store.lizzomusic.com/products/special-shorts" target="_blank"><img src="../../../assets/resources/merch_12.png" class="products">
            <p>Special Shorts<br><b>$60.00 USD</b></p></a>
        </div>
    </div>
     
    <div class="row" style="padding-bottom:6%;"> <!-- ROW 4 -->
        <div class="col s2 center"></div>
        <div class="col s2 center">
            <a href="https://store.lizzomusic.com/products/special-hearts-airbrush-t-shirt-cd-box-set" target="_blank"><img src="../../../assets/resources/merch_13.png" class="products">
            <p>Special Hearts Airbrush<br>T-Shirt + CD Box Set<br><b>$50.00 USD</b></p></a>
        </div>
        <div class="col s2 center">
            <a href="https://store.lizzomusic.com/products/lizzo-s-special-silk-headwrap" target="_blank"><img src="../../../assets/resources/merch_14.png" class="products">
            <p>Lizzo's Special Headwrap<br><b>$55.00 USD</b></p></a>
        </div>
        <div class="col s2 center">
            <a href="https://store.lizzomusic.com/products/lizzo-special-butts-logo-hoodie" target="_blank"><img src="../../../assets/resources/merch_15.png" class="products">
            <p>LIZZO Special Butts Logo Hodie<br><b>$100.00 USD</b></p></a>
        </div>
        <div class="col s2 center">
            <a href="https://store.lizzomusic.com/products/special-airbrush-t-shirt-cd-box-set" target="_blank"><img src="../../../assets/resources/merch_16.png" class="products">
            <p>Special Airbrush<br>T-Shirt + CD Box Set<br><b>$55.00 USD</b></p></a>
        </div>
    </div>
     
    <br>
    </body>
    <!-- COMMENTS
     
     
    -->
    
    