<p>[footer]</p>
<br><br>


<div class="row deep-purple lighten-5 black-text valign-wrapper">
    <div class="col s1"></div>
    
    <a href="#"  class="col s2"><img src="../../../assets/icons/logo.jpg" class="logo"></a>
    
    <div class="col s1"></div>
    
    <div class="col s2 red">
        <a href="#" id="menu-link" class="col s1">link_a</a>
        <br>
        <a href="#" id="menu-link" class="col s1 ">link_b</a>
        <br>
        <a href="#" id="menu-link" class="col s1">link_c</a>
    </div>

    <div class="col s1"></div>

    <div class="col s3 blue center-align">
        <br>
        <a href="#" id="menu-link" class="col s1 ">Copyright_2022</a>
        <br>
        <a href="#" id="menu-link" class="col s1">All_rights_reserved</a>
    </div>

    <div class="col s2"></div>

    <div class="col s2">
        <a href="https://es-la.facebook.com/LizzoMusic/"  class="col s2"><img src="../../../assets/icons/s_fb.png" class="icon"></a>  
        <a href="https://www.instagram.com/lizzobeeating/"  class="col s2"><img src="../../../assets/icons/s_ig.png" class="icon"></a>
        <a href="https://www.tiktok.com/@lizzo?lang=es"  class="col s2"><img src="../../../assets/icons/s_tk.png" class="icon"></a>
        <br>
        <a href="https://www.youtube.com/channel/UCXVMHu5xDH1oOfUGvaLyjGg"  class="col s2"><img src="../../../assets/icons/s_yt.png" class="icon"></a>
        <a href="https://open.spotify.com/artist/56oDRnqbIiwx4mymNEv7dS"  class="col s2"><img src="../../../assets/icons/s_sp.png" class="icon"></a>
    </div>

    <div class="col s1"></div>

    
</div>