
  <nav>
    <div class="nav-wrapper row">

      <a href="#" class="col s2 left push-s1"><img src="../../../assets/icons/lizzo logo.png" class="logo"></a>
      

      <ul id="nav-mobile" class="hide-on-med-and-down col s8 push-s2">
        <li class="col s2" style="line-height: 200%;"><a href="/about" id="menu-link"  >SOBRE<br>LIZZO</a></li>
        <li class="col s2"><a href="/musica" id="menu-link" >MÚSICA</a></li>
        <li class="col s2"><a href="/premios" id="menu-link" >PREMIOS</a></li>
        <li class="col s1"><a href="/merch" id="menu-link" >TIENDA</a></li>
        <li class="col s2"><a href="#" id="menu-link" >APARICIONES</a></li>
        <li class="col s2"><a href="#" id="menu-link" >GALERÍA</a></li>
        <li class="col s1"><a href="#" id="menu-link" >FORO</a></li>
      </ul>
     
     
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="/about" id="menu-link" >SOBRE LIZZO</a></li>
        <li><a href="/musica" id="menu-link" >MÚSICA</a></li>
        <li><a href="/premios" id="menu-link" >PREMIOS</a></li>
        <li><a href="/merch" id="menu-link" >TIENDA</a></li>
        <li><a href="#" id="menu-link" >APARICIONES</a></li>
        <li><a href="#" id="menu-link" >GALERÍA</a></li>
        <li><a href="#" id="menu-link" >FORO</a></li>
    </ul>
  </nav>
