#menu-link{
    padding: 5px, 5px, 0px, 0px;
    margin: 5px, 5px, 0px, 0px;
    color:black;
}

.logo{
    height: 50px;
    width: 150px;
}

.row{
    margin: 0;
    background-color: #F6EEF6;
}

.nav-wrapper{
    background-color: #F6EEF6;
}

.sidenav{
    background-color: #F6EEF6;
}