<p>[header]</p>

<div class="row teal">
    <div class="col s2 red">LIZZO <br>(logo)</div>
    <div class="col s1 blue">2<br>.</div>
    <div class="col s1 red">3 <br>.</div>
    <div class="col s1 blue">SOBRE <br>LIZZO</div>
    <div class="col s1 red">MÚSICA<br>.</div>
    <div class="col s1 blue">PREMIOS<br>.</div>
    <div class="col s1 red">TIENDA<br>.</div>
    <div class="col s2 blue">APARICIONES<br>.</div>
    <div class="col s1 red">GALERÍA<br>.</div>
    <div class="col s1 blue">FORO<br>.</div>
</div>

<br><br>