<div class="carousel fullscreen">
    <a class="carousel-item" href="#one!"><img src="assets\resources\bannerA.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="assets/resources/bannerB.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="assets\resources\bannerC.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="assets/resources/bannerD.jpg"></a>
</div>

<p style="background-color: yellow">//Code note!// Will fix pictures later (size & content), just wanted the slider to work xd </p>
