<body>
    
<div class="carousel fullscreen">
    <a class="carousel-item" href="#one!"><img src="../../../assets/resources/0banner_a.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="../../../assets/resources/0banner_b.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="../../../assets/resources/0banner_c.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="../../../assets/resources/0banner_d.jpg"></a>
</div>


<br>
<br>
<br>
<br>
<br>
<br>

<div class="col s8 center push-s2 pull-s2"> 
    <h2>
        "Boss up and change your life"
    </h2>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>